* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 30px;
    font-family: Arial, sans-serif;

}
input, textarea {
    margin: 10px;
    width: 300px;
}
form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.forma{
    margin: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.page{
    display: flex;
    flex-direction: row;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pagination
{
    width: 10%;
    justify-content: space-between;
}
